@{
    ViewBag.Title = "愉生活";
    Layout = "~/Views/Shared/_wap.cshtml";
}
<!--主体-->
<section class="h_list clearfix">
	<ul>
		<li><a class="icon_1" href="#">微信购物</a></li>
		<li><a class="icon_2" href="#">餐饮娱乐</a></li>
		<li><a class="icon_3" href="#">优惠促销</a></li>
		<li><a class="icon_4" href="#">周边查询</a></li>
		<li><a class="icon_5" href="#">旅游酒店</a></li>
		<li><a class="icon_6" href="/wap/member?sessionid=@ViewData["sessionid"]">会员信息</a></li>
	</ul>
</section>
