@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}
@section css
{
    <link href="@Url.Content("~/Styles/_Layout_NoFrame.css")" rel="stylesheet" type="text/css" />
}
@section script
{<script src="@Url.Content("~/Scripts/jquery.tools.pack.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.formValidator.initConfig({ onError: function (msg) { Zuxia.Alert(msg); } });
            $("#txtOldPass").formValidator({ tipid: "tipOldPass", onshow: "请输入旧密码", onfocus: "请正确输入旧密码", defaultvalue: "" }).InputValidator({ min: 6, onerror: "旧密码不低于6位" });
            $("#txtNewPass1").formValidator({ tipid: "tipNewPass1", onshow: "请输入密码", onfocus: "密码6-14位" }).InputValidator({ min: 6, max: 14, onerror: "密码6-14位" });
            $("#txtNewPass2").formValidator({ tipid: "tipNewPass2", onshow: "请输入重复密码", onfocus: "密码必须一致" }).InputValidator({ min: 6, max: 14, onerror: "密码6-14位,请确认" }).CompareValidator({ desID: "txtNewPass1", operateor: "=", onerror: "两次密码不一致" });
        });
    </script>
    <script type="text/javascript">
        function chkPost() {
            if ($.formValidator.PageIsValid('1')) {
                return true;
            } else {
                return false;
            }
        }
    </script>
}
<div id="divMain">
    <div id="divRightPage">
        <!--列表标题部分-->
        <div class="tblTitle" onselectstart='return false;'>
            <div>
                修改密码</div>
        </div>
        <div class="divReminders">
            ★<label style="color: Red;">建议密码修改正确后退出系统后重新登录</label><br />
        </div>
        <div class="divReminders">
        </div>
        @using (Html.BeginForm())
        {    
            <table class="formtable">
                <tr>
                    <th>
                        旧 密 码
                    </th>
                    <td>
                        <input name="txtOldPass" type="password" id="txtOldPass" style="width: 160px;" class="ipt" />
                        <span id="tipOldPass" style="width: 200px;"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        新 密 码
                    </th>
                    <td>
                        <input name="txtNewPass1" type="password" id="txtNewPass1" style="width: 160px;"
                            class="ipt" />
                        <span id="tipNewPass1" style="width: 200px;"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        密码确认
                    </th>
                    <td>
                        <input name="txtNewPass2" type="password" id="txtNewPass2" style="width: 160px;"
                            class="ipt" />
                        <span id="tipNewPass2" style="width: 200px;"></span>
                    </td>
                </tr>
            </table>
           
            <div class="divFormCtrl">
                <!--页面按钮 如：提交、取消、下一步、关闭-->
                <input class="divBtn" type="submit" onclick="javascript:return chkPost();" value="修 改" />
            </div>
        }
    </div>
</div>
