<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WeiXin.Model.Properties.Settings.Zuxia_WeiXinConnectionString"
            connectionString="Data Source=.;Initial Catalog=Zuxia_WeiXin;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="WeiXin.Model.Properties.Settings.Zuxia_WeiXinConnectionString1"
            connectionString="Data Source=192.168.12.254;Initial Catalog=Zuxia_WeiXin;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="WeiXin.Model.Properties.Settings.zuxia_weixinConnectionString2"
            connectionString="Data Source=sql.w83.vhostgo.com;Initial Catalog=zuxia_weixin;Persist Security Info=True;User ID=zuxia_weixin;Password=474196974"
            providerName="System.Data.SqlClient" />
        <add name="WeiXin.Model.Properties.Settings.zuxia_weixinConnectionString3"
            connectionString="Data Source=sql.w83.vhostgo.com;Initial Catalog=zuxia_weixin;User ID=zuxia_weixin;Password=474196974"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>