@{
    ViewBag.Title = "精品微信帐号推荐";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
@section css{
    <link href="../../Styles/mm_webwx.css" rel="stylesheet" type="text/css" />
     
     
<style type="text/css">
<!--
body { 
	background-image: url(Styles/images/bg_universal.png);
}
-->
</style>} 
<div class="main">
<div class="loginPanel normalPanel">
<div class="lang">
<a href="http://weibo.com/zhainanyulu" target="_blank">新浪微博</a>
<a href="http://t.qq.com/zhainanyulu" target="_blank">腾讯微博</a> 
<a href="http://www.cqzuxia.com"> 网上看校 </a>
<a href="http://www.cqzuxia.com"  > 返回首页 </a>
</div><br>
<br>
<br><br>
<br><br>
<br>
<div class="Banner"  style=" width:1200px;" >
<div class="bannerweixin" align="center" >
<div class=" ">
<h3>重庆足下软件学院官方微信</h3>
</div>
<div class="waiting panelContent">
<div class="qrcodeContent">
<img class="qrcode lightBorder" src="Styles/images/ewm.jpg">
</div>
<div class="info">
<div class="normlDesc loginTip">
    
<div class="loginTipL" style=" background:url(Styles/images/bg_login_scan_left.png)"></div>
<div class="loginTipR" style=" background:url(Styles/images/bg_login_scan_right.png)"></div>
<p style="color:#FFF;">请使用微信扫描二维码加学校官方微信为好友</p>

</div> 
</div>
</div>
</div>
<div class="bannerweixin" >
<div class=" ">
<h3>重庆足下软件学院官方微信</h3>
</div>
<div class="waiting panelContent">
<div class="qrcodeContent">
<img class="qrcode lightBorder" src="Styles/images/ewm.jpg">
</div>
<div class="info">
   

<div class="normlDesc loginTip">
    
<div class="loginTipL" style=" background:url(Styles/images/bg_login_scan_left.png)"></div>
<div class="loginTipR" style=" background:url(Styles/images/bg_login_scan_right.png)"></div>
<p style="color:#FFF;">请使用微信扫描二维码加学校官方微信为好友</p>

</div> 
</div>
</div>
</div><div class="bannerweixin" >
<div class=" ">
<h3>重庆足下软件学院官方微信</h3>
</div>
<div class="waiting panelContent">
<div class="qrcodeContent">
<img class="qrcode lightBorder" src="Styles/images/ewm.jpg">
</div>
<div class="info">
   

<div class="normlDesc loginTip">
    
<div class="loginTipL" style=" background:url(Styles/images/bg_login_scan_left.png)"></div>
<div class="loginTipR" style=" background:url(Styles/images/bg_login_scan_right.png)"></div>
<p style="color:#FFF;">请使用微信扫描二维码加学校官方微信为好友</p>

</div> 
</div>
</div>
</div><div class="bannerweixin" >
<div class=" ">
<h3>重庆足下软件学院官方微信</h3>
</div>
<div class="waiting panelContent">
<div class="qrcodeContent">
<img class="qrcode lightBorder" src="Styles/images/ewm.jpg">
</div>
<div class="info">
   

<div class="normlDesc loginTip">
    
<div class="loginTipL" style=" background:url(Styles/images/bg_login_scan_left.png)"></div>
<div class="loginTipR" style=" background:url(Styles/images/bg_login_scan_right.png)"></div>
<p style="color:#FFF;">请使用微信扫描二维码加学校官方微信为好友</p>

</div> 
</div>
</div>
</div>
</div>
<div class="footer">
<div class="icon_faqWrap">
  
   <a href="#" class="icon_faq"> <div style="background: url(Styles/images/button_login.png) no-repeat scroll 0px -1px transparent;
height: 37px;
width: 37px;
margin: -14px auto 0; " ></div></a>
</div> 
<p><span>官方微信账号： cqzuxia （重庆足下软件职业培训学院）</span></p>
<br />
<a href="http://www.kuaidi100.com/all/sf.shtml" target="_blank">顺丰快递查询</a>
</div>
</div> 
</div> 
 