<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
  </appSettings>

	<connectionStrings>
		<add name="ApplicationServices"
			 connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
			 providerName="System.Data.SqlClient" />
		<!--本地-->
		<!--<add name="connectionString" connectionString="YJBKlggQkKKllH36ONUmtKtMQPzYE2z7sybV3rP5j9dCc5umPRqJKAcXUvJWQaa7bn584vFzka4="/>-->
		<!--12.254-->
		<!--<add name="connectionString" connectionString="ExuqRPVl9FRiCBm4ot+FZUMgILdqRUW1v97P6ksru2/FznUbh7pEyvNAOuxfLaGVYulK8E2m/4/1NjMM2pgPag=="/>-->
		<!--服务器-->
		<add name="connectionString" connectionString="CPB/zYLIX8nRnntYF5yEaL7QUwrMGj4pZ00s5WaFXlbdOe5sxLVXK2q/CEmlIjkwVOJ/h3BaImQWRtriJpgpop8uXFnUO8uMFYVOFwq8+FU="/>
		
	</connectionStrings>   
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
		<forms loginUrl="~/Shared/Login" timeout="2880000" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
