@{
    ViewBag.Title = "web";
}
<div class="page-bizinfo">
    <div class="header">
        <h1 id="activity-name">
            高考饮食宝典</h1>
        <p class="activity-info">
            <span id="post-date" class="activity-meta no-extra">2013-05-30</span><a href="weixin://profile/"
                id="post-user" class="activity-meta"><i class="icon_link_arrow"></i></a></p>
    </div>
</div>
<div class="page-content">
    <div class="media" id="media">
    </div>
    <div class="text">
        <p>
            高考来袭，高三学子如何饮食保健?备战高考，对高三学子的体力和脑力来讲，都是巨大的考验，爱子心切的父母们恨不得孩子把最好的补品、最有营养的美食都填进肚子里，这样做科学吗?
        </p>
        <p>
            <strong>一、饮食卫生不可松懈</strong></p>
        <p>
            谈及高三学生的饮食注意事项，陈京萍首先强调的便是饮食卫生问题。春夏之交，大量瓜果开始上市，学生们在大快朵颐之时，一定要小心病从口入，“如生吃瓜果，食用前一定要注意洗净，用清水浸泡或用开水烫过，既能杀菌又能减少农药残留。”</p>
        <p>
            夏天气温升高，雨水增多，食物霉变指数较高，一定要及时冷藏保存，注意卫生。</p>
        <p>
            <strong>二、备考并非都要“补”</strong></p>
        <p>
            目前学生中营养过剩、营养摄入不足的情况同时存在，饮食不均衡是导致这种现象的原因之一。“我不赞成学生高考前要补，学生体质不同，不是人人都适合进补，不要迷信保健药品，应辩证看待，盲目进补，反而可能导致身体不适。”陈京萍说。</p>
        <p>
            高三学生除了用脑频繁，还普遍存在视力使用过度的情况，应该增加维生素A的摄入量。维生素A是维持视力正常的重要营养元素，适当增加摄入量有助于保护视力。富含维生素A的食物有胡萝卜、南瓜、红薯、动物肝脏等。</p>
        <p>
            <strong>三、平衡饮食也很重要</strong></p>
        <p>
            高三学生考前复习阶段，大脑处于高度紧张状态，身体能量消耗较多，再加上夏季天气炎热，胃口差且出汗多，摄入量不足与损耗过多，加重营养物质的不足，体质相对下降，免疫力降低。</p>
        <p>
            高三学生该怎么吃?陈京萍建议，“首先要按照中国居民平衡膳食宝塔推荐的饮食搭配，保证日常合理膳食搭配。此外，应适当增加优质蛋白质、不饱和脂肪酸、维生素A、B、C等营养素的供给量。”</p>
        <p sizset="2" sizcache06273130233169728="5">
        </p>
        <p>
            <strong>四、食物搭配建议</strong></p>
        <p>
        </p>
        <p>
            主食：以谷类为主，注意粗细搭配，适当吃些燕麦、小米、玉米等粗粮。</p>
        <p>
            副食：多吃鱼虾、禽肉、瘦肉、蛋、奶、动物肝脏等，以补充优质蛋白质和维生素A、B等;多吃红薯、老玉米、南瓜、红辣椒、香蕉、苹果、菜花、油菜、豆类等红黄绿色蔬菜、水果，补充维生素A、C、矿物质和膳食纤维，起到保护视力、心血管健康及提高抗病能力的作用。</p>
        <p>
            在全面膳食、主副食合理搭配的基础上，可根据个人体质等情况选用食、药两用的健脑食品，如核桃、桂圆、芝麻、大枣、山药、枸杞子、百合、莲子等，以消除脑疲劳，缓解学习压力，增强记忆。</p>
        <p>
            在盛夏时，还可多吃些清热利湿的食物，如西瓜、苦瓜、桃子、西红柿、绿豆、黄瓜等。家长还可尝试巧用大蒜、姜、醋等调味品以增强食欲。</p>
        <p>
            <strong>莲子桂圆肉炖猪脑汤</strong></p>
        <p>
            原料：莲子25克，猪脑1副，桂圆肉15克，陈皮1块。</p>
        <p>
            做法：莲子、桂圆肉、陈皮用清水洗净，猪脑浸于水中，小心挑去薄膜红筋，再用清水洗净，放入沸水中汆烫过，捞起沥干水分;将全部材料同置炖盅内，加入适量清水，隔水炖4小时，以少许盐调味即可。</p>
        <p>
            功效：益气养血，健脾补脑</p>
        <p>
            <strong>胡萝卜马蹄煲猪骨</strong></p>
        <p>
            原料：马蹄100克，胡萝卜80克，猪骨300克，生姜10克。</p>
        <p>
            做法：胡萝卜洗净切块，姜去皮切片，猪骨斩件，马蹄洗净;锅中注入水烧开，放入猪骨焯烫去血水，捞出沥水;将高汤倒入煲中，加入所有材料煲1小时，加入调味料即可。</p>
        <p>
            功能：健脾消食、补肝明目</p>
        <p>
            温馨提示：临近高考，这些高三学生的饮食保健方法大家好好了解一下吧，身体健康才能考出好成绩哦!</p>
    </div>
</div>
